{% extends 'base.html' %}

{% block content %}

{% if job_list %}
    <ul>
      {% for job in job_list %}
          <li>{{job.type_name}} <a href="job/{{job.id}}/" style="color:blue"></a>{{job.city_name}}</li>
      {% endfor %}
    </ul>
{% else %}
    <p>No jobs are available.</p>
{% endif %}

{% endblock %}